---
import { Icon } from "astro-icon/components";
---

<!-- Hero Section -->
<section
    class="w-full h-auto lg:min-h-screen pt-20 lg:pt-28 lg:px-20 lg:max-h-screen relative flex items-center justify-center bg-white overflow-hidden"
>
    <h1
        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-[20vw] font-extrabold text-black opacity-5 select-none pointer-events-none"
    >
        ByteSync
    </h1>

    <div class="z-10 w-full h-full grid grid-cols-1 md:grid-cols-5">
        <div
            class="md:col-span-3 flex flex-col justify-center px-4  text-slide-right"
        >
            <h2
                class="text-5xl md:text-6xl lg:text-6xl text-balance font-extrabold text-bytesync font-sora"
            >
                Conoce a ByteSync
            </h2>
            <p class="mt-4 text-base text-black">
                Somos un equipo apasionado por eI diseño y desarrollo digital. En ByteSync combinamos creatividad, estrategia y tecnología para crear soluciones web y móviles que conectan con las personas y generan resultados reales.
            </p>
            <div class="hidden lg:grid grid-cols-1 lg:grid-cols-2 gap-4 mt-4">
                <div class="w-full h-auto py-7 px-4 flex bg-white shadow-lg rounded-md gap-2 justify-center">
                    <Icon class="text-5xl" name="About us/Hero/medalla" />
                    <p class="font-work-sans text-lg text-gray-700 content-center">Proyectos realizados con éxito</p>
                </div>
                <div class="w-[90%] h-auto py-7 px-4 flex bg-white shadow-lg rounded-md gap-4 justify-center">
                    <Icon class="text-5xl " name="About us/Hero/graduacion" />
                    <p class="font-work-sans text-lg text-gray-700 content-center">Profesionales calificados y preparados</p>
                </div>
            </div>
        </div>

        <img
            src="/question.png"
            alt="Logo ByteSync"
            class="md:col-span-2 h-auto drop-shadow-2xl logo-fade-up transform translate-x-[4%] -translate-y-[-8%]"
        />
    </div>
</section>
